<app-movie-menu></app-movie-menu>

<h1>Add a Movie</h1>

<form [formGroup]="movieForm">
    <div>
        <label>Name</label>
        <input type="text" placeholder="name" formControlName="nameForm">
    </div>
    <div>
        <label>Category</label>
        <select formControlName="categoryForm">
            <option value="" disabled selected>--Choisir une catégorie--</option>
            @for (cat of categories; track cat.id) {
                <option [ngValue]="cat">{{ cat.label }}</option>
              }
        </select>

    </div>
    <div formArrayName="actorsForm">
        <label>Acteurs</label>

        @for (ctrl of actorsForm.controls; let i = $index; track i) {
          <div>
            <input type="text" [formControlName]="i" placeholder="actor name">
            <button type="button" (click)="supprimerActeur(i)">X</button>
          </div>
        }

        <button type="button" (click)="ajouterActeur()"> Add Actor </button>
      </div>

    <button type="submit" [disabled]="movieForm.invalid"  (click)="onSubmit()">Submit</button>

</form>
