<app-movie-menu></app-movie-menu>
<!--<h2> {{movie?.name}} detail </h2>

<p> liste</p>
@for (actor of movie?.actors; track [actor.id, actor.name]) {
  <p> name: {{actor.name}}</p>
}
<p>category{{movie?.category}}</p>
-->

<h2> Film - {{movie?.name}} </h2>

<p> Liste d'acteurs : </p>

@for (actor of movie?.actors; track [actor.id, actor.name]) {
  @if (actorService.getActorById(actor.id) | async; as actor) {
    <p>{{ actor.name }}</p>
  }
}

<p> Catégorie : {{movie?.category}}</p>

<p> Note : {{rate.rate}}</p>
